<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration>

  <appender name="WhaleWiredAppender" class="com.whalewired.client.log4j.WhaleWiredAppender">
  	<param name="whalewired_es" value="172.17.33.54"/>
  	<param name="whalewired_es_port" value="9200"/>
  	<param name="log_account" value="DEV_WL"/>
  	<param name="log_application" value="clfr.udv.optagelse.dk"/>
  	<param name="log_host" value="DEV_WL"/>
  	<param name="max_threads" value="1"/>
  </appender>

  <appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
    <param name="Threshold" value="ERROR"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{2}(%M:%L) - %m%n"/>
    </layout>
  </appender>
  
  <logger name="com.whalewired">
    <level value="DEBUG"/>
	<appender-ref ref="WhaleWiredAppender"/>
  </logger>

  <root> 
<!--     <appender-ref ref="ConsoleAppender"/> -->
  </root>
  
</log4j:configuration>